body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #069b76;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 45px;
}


ul li{
    display: inline-block;
    padding: 0px 20px;
}



#reservation {
    background-color: #067285;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
}

#reservation h2 {
    text-align: center;
    margin-bottom: 180px;
}

.reservation-form {
    text-align: left;
}

.reservation-form form {
    display: flex;
    flex-direction: column;
}

.reservation-form label {
    margin-top: 40px;
    font-weight: bold;
}

.reservation-form input,
.reservation-form select {
    width: 100%;
    padding: 40px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.reservation-form button {
    margin-top: 60px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reservation-form button:hover {
    background-color: #555;
}

.imagen{
    text-align:  center;
}

footer{
    padding: 1em 0;
    text-align: center;
    position: absolute;
    bottom: 0;
}

